@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer base {
  html {
    font-family: "Noto Sans", sans-serif;
  }
  input,
  textarea {
    @apply focus:outline-none;
  }
}

.animated {
  @apply transition-all duration-300;
}
.saturate:hover {
  @apply brightness-150 saturate-150;
}
.unsaturate:hover {
  @apply brightness-90 saturate-[.8];
}
.saturate-0.5:hover {
  @apply brightness-[1.25] saturate-[1.25] bg-msg_input;
}

.customScroll::-webkit-scrollbar {
  width: 15px;
  margin: 5px;
}

.customScroll::-webkit-scrollbar-thumb {
  border: solid 5px #0b090c;
  border-radius: 10px;
  background: #3c393f;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background: #252329;
}

.customScroll-2::-webkit-scrollbar {
  width: 15px;
  margin: 5px;
}

.customScroll-2::-webkit-scrollbar-thumb {
  border: solid 5px #252329;
  border-radius: 10px;
  background: #3c393f;
}

.customScroll-2::-webkit-scrollbar-thumb:hover {
  background: #828282;
}
.decoration::after {
  --height: 14px;
  --col: #252329;
  content: "";
  position: absolute;
  width: var(--height);
  height: calc(var(--height) / 2);
  right: 20px;

  border-right: var(--height) solid transparent;
  border-left: var(--height) solid transparent;
}
.decoration-top::after {
  bottom: calc(var(--height) * -2 + 2px);
  border-bottom: var(--height) solid transparent;
  border-top: var(--height) solid var(--col);
}
.decoration-bottom::after {
  top: calc(var(--height) * -2 + 2px);
  border-top: var(--height) solid transparent;
  border-bottom: var(--height) solid var(--col);
}

.decoration::before {
  --height: 14px;
  --col: #3c393f;
  content: "";
  position: absolute;
  width: var(--height);
  height: calc(var(--height) / 2);
  right: 20px;

  border-right: var(--height) solid transparent;
  border-left: var(--height) solid transparent;
}
.decoration-top::before {
  bottom: calc(var(--height) * -2);
  border-bottom: var(--height) solid transparent;
  border-top: var(--height) solid var(--col);
}
.decoration-bottom::before {
  top: calc(var(--height) * -2);
  border-top: var(--height) solid transparent;
  border-bottom: var(--height) solid var(--col);
}
